stream_over_http_enabled: true
server:
  http_listen_port: 3200
  log_level: info

query_frontend:
  search:
    duration_slo: 5s
    throughput_bytes_slo: 1.073741824e+09
    metadata_slo:
      duration_slo: 5s
      throughput_bytes_slo: 1.073741824e+09
  trace_by_id:
    duration_slo: 100ms
  metrics:
    max_duration: 200h # maximum duration of a metrics query, increase for local setups
    query_backend_after: 5m
    duration_slo: 5s
    throughput_bytes_slo: 1.073741824e+09
  # List of regular expressions that define queries to block
  # url_deny_list:
  #   - '.*nil.*'
distributor:
  receivers:
    otlp:
      protocols:
        grpc:
          endpoint: "tempo:4317"
        http:
          endpoint: "tempo:4318"

ingester:
  trace_idle_period: 10s      
  max_block_bytes: 1_000_000  
  max_block_duration: 5m    

compactor:
  compaction:
    block_retention: 168h # 7 days

metrics_generator:
  registry:
    external_labels:
      source: tempo
      cluster: docker-compose
  storage:
    path: /var/tempo/generator/wal
    remote_write:
      - url: http://victoria-metrics:8428/api/v1/write
        send_exemplars: true
  traces_storage:
    path: /var/tempo/generator/traces
  processor:
    span_metrics:
      dimensions:
      - service.name
      - db.system
      - span.kind
      - http.method
      - http.route
      - http.status_code
      - session.user_id
      - session.is_guest
    service_graphs:
      dimensions:
        - service.name
        - http.method
        - http.status_code
    local_blocks:
      filter_server_spans: false
      flush_to_storage: true


storage:
  trace:
    backend: local                    
    wal:
      path: /var/tempo/wal          
    local:
      path: /var/tempo/blocks

overrides:
  defaults:
    metrics_generator:
      processors: [service-graphs, span-metrics, local-blocks]
