[submodule "Sunrise"]
	path = Sunrise
	url = https://github.com/SunriseCommunity/Sunrise
	branch = feat/better-telemetry
[submodule "Observatory"]
	path = Observatory
	url = https://github.com/SunriseCommunity/Observatory
[submodule "Sunset"]
	path = Sunset
	url = https://github.com/SunriseCommunity/Sunset
[submodule "Sunshine"]
	path = Sunshine
	url = https://github.com/SunriseCommunity/Sunshine
